#about{
    section{
        width: 90%;
        margin: 0 auto;
        background: green;
        ul{
            li{
                list-style: circle;
                color: gray;
            }
        }
    }
}
