#home{
    article{
        width: 90%;
        margin: 0 auto;
        background: blue;
        ul{
            li{
                list-style: circle;
                color: red;

            }
        }
    }
}
